html{
	background-color:2d6e41;
}

#mainContainer{
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-template-columns:repeat(2,1fr);
	justify-content:center;
	align-items:center;
	text-align:center;
	color:white;
	padding:3%;
	column-gap:10%;
}

#oncaTitle{
	grid-row-start:1;
}

#oncaText{
	text-align:justify;
	grid-column-start:1;
	grid-row-start:2;
}

#oncaImg{
	grid-column-start:2;
	grid-row-start:2;
}
