html{
	background-color:2d6e41;
}


#mainTextDiv{
	display:grid;
	justify-content:center;
	margin:10%;
	padding:5%;
	color:white;
	font-size:150%;
	font-family: 'Roboto Condensed', sans-serif;
}

#mainTitle{
	text-align:center;
}

#mainText{
	text-align:justify;
}

#imgsAnimaisDiv{
	display:grid;
	margin:20%;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	align-items:center;
	text-align:center;
	grid-gap:5%;
	background-color:#62856d;
	padding:3%;
	border-radius:2%;
}

.imgsAnimais{
	width:110%;
	height:100%;
}

#oncaImg{
	grid-column-start:1;
	grid-row-start:1;
}

#araraImg{
	grid-column-start:2;
	grid-row-start:1;
}

#ariranhaImg{
	grid-column-start:3;
	grid-row-start:1;
}

#cachorroImg{
	grid-column-start:1;
	grid-row-start:2;
}

#tartarugaImg{
	grid-column-start:2;
	grid-row-start:2;
}

#botoImg{
	grid-column-start:3;
	grid-row-start:2;
}

@media (max-width:1000px){
	#imgsAnimaisDiv{
		grid-template-columns: repeat(1,1fr);
		grid-template-rows: repeat(6,1fr);
		align-items:center;
		text-align:center;
		grid-gap:5%;
		background-color:#62856d;
		padding:10%;
		height:200%;
	}
	#oncaImg{
		grid-column-start:1;
		grid-row-start:1;
	}

	#araraImg{
		grid-column-start:1;
		grid-row-start:2;
	}

	#ariranhaImg{
		grid-column-start:1;
		grid-row-start:3;
	}

	#cachorroImg{
		grid-column-start:1;
		grid-row-start:4;
	}

	#tartarugaImg{
		grid-column-start:1;
		grid-row-start:5;
	}

	#botoImg{
		grid-column-start:1;
		grid-row-start:6;
	}
}
